{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<title>Unsere Träume, M&F</title>   
	    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	    <link rel="stylesheet" href="{% static 'css/menu1.css' %}">
	</head>

<body>
	<div id="particles-js"></div>




	<audio id="demo" src="{% static 'thousend.mp3' %}" autoplay loop></audio>




	<header>
	<div class="menu_bar">
		<a href="" class="bt-menu"><span class="icon-menu"></span></a>
	</div>
		<div class="menu">
			<div class="contenedor">

				<div class="logo">FerCarstens
				
					<div>
				  		<button onclick="document.getElementById('demo').play()" class="icon-play3"></button>
						<button onclick="document.getElementById('demo').pause()" class="icon-pause2"></button>
					</div>
				</div>
				<nav>
					<ul>
						<li><a target="_blank" href="/admin"><span class="icon-cog"></span></a></li>
						<li><a target="_blank" href="mailto:fernandocarstensps@gmail.com"><span class="icon-mail2"></span></a></li>
						<li><a target="_blank" href="https://www.facebook.com/fercarstens"><span class="icon-facebook2"></span></a></li>
						<li><a target="_blank" href="https://www.instagram.com/fercarstens"><span class="icon-instagram"></span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="texto">
		<h2><a href="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12745447_10206761886940589_2524652319114239422_n.jpg?oh=dc56c74cb9073be0f71de59c990d6106&oe=57870DB2">Moon of my Life</a>

			<div class="contenedor2">
				<nav>
					<ul>
						<li><a target="_blank" href="/admin"><span class="icon-cog"></span></a></li>
						<li><a target="_blank" href="mailto:fernandocarstensps@gmail.com"><span class="icon-mail2"></span></a></li>
						<li><a target="_blank" href="https://www.facebook.com/fercarstens"><span class="icon-facebook2"></span></a></li>
						<li><a target="_blank" href="https://www.instagram.com/fercarstens"><span class="icon-instagram"></span></a></li>
					</ul>
				</nav>
				<div>
		  			<button onclick="document.getElementById('demo').play()" class="icon-play3"></button>
					<button onclick="document.getElementById('demo').pause()" class="icon-pause2"></button>
				</div>
			</div>
		</h2>

	</div>
	
	<div class="principal contenedor">
    <article>
    {% for post in posts %}
        <div>
            <h1>{{ post.titulo }}</h1>
            <p>{{ post.texto|linebreaks }}</p>
            <p2>Públicado {{ post.fecha_publicado }} por {{ post.autor }}</p2>
        </div>
    {% endfor %}
    </article>
	</div>	
	


	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{% static 'js/particles.js' %}"></script>
	<script src="{% static 'js/particulas.js' %}"></script>
	<script src="{% static 'js/controlmusica.js' %}"></script>
	

</body>

</html>